.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-robot {
    display: flex;
    align-items: start;
}

.chat-message-text {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 300px;
}

.chat-message-profile {
    width: 45px;
    border-radius: 50%;
}

.chat-messages-container {
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-message-time {
    margin-top: 5px;
    font-size: 15px;
    color: gray;
}

.loading-spinner {
    margin: -15px;
    height: 40px;
}