.send-button {
    background-color: rgb(15, 53, 223);
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease;
}

.send-button:hover {
    background: darkblue;
}

.chat-input {
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex-grow: 1;
}

.chat-input-container {
    display: flex;
    margin-bottom: 60px;
}

.clear-btn {
    margin-left: 8px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    transition: all .3s ease;
}

.clear-btn:hover {
    background: black;
    color: white;
}